<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Mail.ru check suite" parallel="tests" thread-count="2" >
    <test name="Test1">
        <classes>
<!--            <class name="me.ankhell.selenMail.TestFirefox" />-->
            <class name="me.ankhell.selenMail.TestChrome" />
<!--            <class name="me.ankhell.selenMail.TestThreadLocal" />-->
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="me.ankhell.selenMail.TestFirefox" />
<!--            <class name="me.ankhell.selenMail.TestChrome" />-->
            <!--            <class name="me.ankhell.selenMail.TestThreadLocal" />-->
        </classes>
    </test>
</suite>