<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Mail.ru check suite" parallel="tests" thread-count="2" >
    <test name="Chrome tests">
        <classes>
            <class name="me.ankhell.selenMail.TestChrome" />
        </classes>
    </test>
    <test name="Firefox tests">
        <classes>
            <class name="me.ankhell.selenMail.TestFirefox" />
        </classes>
    </test>
</suite>